{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  
    
    
    
    

    
    {% block css_files %} 

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
   

    
    {% endblock %} 

    <title>
        {% block title  %} {% endblock  %}  YUSUFZİYA |   </title>

   

   
</head>
<body>




   



   

{% block content  %} 


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" id="YZC" href="#">Yusuf Ziya Çakmak</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav justify-content-end">
          <a class="nav-link active" aria-current="page" href="#">Home</a> 
          <a class="nav-link" href="#">Projects</a>
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          
        </div>
      </div>
    </div>
  </nav>

       <img src="https://res.cloudinary.com/diyibvvua/image/upload/v1747440572/BENIMFOTO_iblpuj.jpg" id="myfoto" alt="" width="200" height="300"> 
       


<div class="container">
    
    <div class="text-section" >
        <h1> YUSUF ZİYA ÇAKMAK </h1>
        <h2> Computer Engineer </h2>
        <p>Veri analisti, veritabanı yönetimi ve yazılım geliştirme alanında deneyim sahibiyim. Yenilikçi çözümler üretmeye odaklıyım.</p>
    </div>
</div>

<div class="Projeler">
<h1> Projeler </h1>


</div>




<div class="card" id= "card1"  style="width: 15rem;">
  <img src="https://res.cloudinary.com/diyibvvua/image/upload/v1747440618/pwoerbi_rayhwo.png" class="card-img-top" width="100px" alt="...">
  <div class="card-body" style="background-color: rgb(229, 229, 232);">
    <p class="card-text" style="font-style: italic;">Django ile stoktakip web sitesi ve dinamik olarak PowerBI ile aylık veri analizi</p>
    <a href="{% url 'stokman' %}">
      <button type="button" style="background-color: rgb(204, 153, 0);" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
        İncele
      </button>
    </a>
  </div>
</div>


  <div class="card" id="card2" style="width: 15rem;">
    <img src="https://res.cloudinary.com/diyibvvua/image/upload/v1747440668/qr_zn5svc.png" class="card-img-top" width="100px" alt="...">
    <div class="card-body" style="background-color: rgb(229, 229, 232);">
      <p class="card-text" style="font-style: italic; color:black;">Restoranlar ve işletmeler için Dijital QR Menü Tasarımı geliştirdim</p>
      <a href="{% url 'qr' %}" style="text-decoration: none;">
      <button type="button" style="background-color: rgb(204, 153, 0);" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  İncele
</button>
</a>
    </div>
  </div>

  
<div class="card" id= "card3"  style="width: 15rem;">
  <img src="https://res.cloudinary.com/diyibvvua/image/upload/v1747440636/ticketsale_tbfsjx.png" class="card-img-top" width="100px" alt="...">
  <div class="card-body" style="background-color: rgb(229, 229, 232);">
    <p class="card-text" style="font-style: italic; color:black">Kullanıcıların bilet alıp satabilecekeleri dinamik bir website</p>
    <a href="{% url 'TicketSale' %}" style="text-decoration: none;">
      <button type="button" style="background-color: rgb(204, 153, 0);" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  İncele
</button>
</a>
  </div>
</div>

  
<div class="card" id= "card4"   style="width: 15rem  ;">
  <img src="https://res.cloudinary.com/diyibvvua/image/upload/v1747440604/api1_bhrrkw.png" class="card-img-top" width="100px" alt="...">
  <div class="card-body" style="background-color: rgb(229, 229, 232);">
    <p class="card-text" style="font-style: italic; color:black">Ticketsale websiteme java spring boots ile yazdığım Api servisi</p>
    <a href="{% url 'TicketSalApi' %}" style="text-decoration: none;">
      <button type="button" style="background-color: rgb(204, 153, 0);" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  İncele
</button>
  </div>
</div>




<div class="card" id= "card5"   style="width: 15rem  ;">
  <img src="https://res.cloudinary.com/diyibvvua/image/upload/v1747440631/empman_b74zwb.png" class="card-img-top" width="100px" alt="...">
  <div class="card-body" style="background-color: rgb(229, 229, 232);">
    <p class="card-text" style="font-style: italic; color:black">Bir şirketteki çalışanların ve departmanların yönetimini sağlayan bir RESTful API servisidir. </p>
    <a href="{% url 'excapi' %}" style="text-decoration: none;">
      <button type="button" style="background-color: rgb(204, 153, 0);" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  İncele
</button>
  </div>
</div>

<div class="card" id= "card6"   style="width: 15rem  ;">
  <img src="https://res.cloudinary.com/diyibvvua/image/upload/v1747440628/class_gjlkb6.png" class="card-img-top" width="100px" alt="...">
  <div class="card-body" style="background-color: rgb(229, 229, 232);">
    <p class="card-text" style="font-style: italic; color:black">Yapay zeka alanında yaptığım Bird Drone classification MobilenetV2 ve cnn modeli eğitimi </p>
    <a href="{% url 'class' %}" style="text-decoration: none;">
      <button type="button" style="background-color: rgb(204, 153, 0);" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  İncele
</button>
  </div>
</div>


<div class="card" id= "card7"   style="width: 15rem  ;">
  <img src="https://res.cloudinary.com/diyibvvua/image/upload/v1747440641/cust_eozvzb.png" class="card-img-top" width="100px" alt="...">
  <div class="card-body" style="background-color: rgb(229, 229, 232);">
    <p class="card-text" style="font-style: italic; color:black">Yapay zeka ve makine öğrenmesi teknikleri kullanılarak müşteri segmentasyonu .</p>
    <a href="{% url 'segmen' %}" style="text-decoration: none;">
      <button type="button" style="background-color: rgb(204, 153, 0);" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  İncele
</button>
  </div>
</div>


<div class="card" id= "card8"   style="width: 15rem  ;">
  <img src="https://res.cloudinary.com/diyibvvua/image/upload/v1747440607/calc_hwi6rv.png" class="card-img-top" width="100px" alt="...">
  <div class="card-body" style="background-color: rgb(229, 229, 232);">
    <p class="card-text" style="font-style: italic; color:black">Üniversite öğrencilerinin iki sınav üzerinden almaları gereken minimum final  notu bilgisi</p>
    <a href="{% url 'base' %}" style="text-decoration: none;">
      <button type="button" style="background-color: rgb(204, 153, 0);" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  İncele
</button>
  </div>
</div>






 
{% endblock %}

{%block js_files %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
 {% endblock %}
</body>
</html>