{% extends "base.html" %}
{% load static %}

{% block css_files %}
  <link href="{% static 'css/stokman.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
  
{% endblock %}




{% block content %}
{% include "navbar.html" %}

    
    
   
    
</div>



<div class="container">

<br>

<h1>ETKİNLİK TAKAS PLATFORMU</h1>

<p>

    Önceki TicketSale Web sitem için JAVA Spring ile geliştirdiğim bir RESTful API servisidir. Kullanıcı ve bilet yönetimi işlemlerini destekleyen bu backend uygulaması, katmanlı mimari prensiplerine uygun olarak yapılandırılmıştır. User ve Ticket gibi ilişkisel veritabanı tabloları ile çalışır, kullanıcı bilgilerini filtreleyip DTO nesneleri ile dışa aktarır. Projede Spring Boot, JPA, Hibernate ve Lombok gibi modern Java teknolojileri kullanılmıştır.
    Proje içeriğine CONTACT bölümündeki github linkinden ulaşabilirsiniz.
 
    <span class="highlight">








</div>





{% endblock %}